/* FUENTES */
@font-face {
  font-family: almendra;
  src: url(fonts/Almendra-Bold.otf) format('truetype');
}
@font-face {
    font-family: pakenham;
  src: url(fonts/pakenham.ttf) format('truetype');
}

$red: #903;
$black: #444;
$white: #fff;
$blue: #002EB8;
$main-font: Arial;
$txtarea-font: Arial;
$h-font: almendra;
$width: 1110px;


body {
  font-family: $main-font;
  background: #C9C9C9;/*#C29957;*/
  background-image: url('images/fondo1.jpg');
  min-width: 450px;
  max-width: $width;
  margin: 0 auto;
  color: $white;
}

h1, h2 {
  color: $white;
  font: 32px/1 $h-font;
}

header h2 {
  font-size: 18px;
  text-align: center;
  color: black;
  margin-top: -30px; 
  padding-bottom: 10px;
}

header h1 {
  font-size: 40px;
  text-align: center;
  color: black;
}

header img {
  display:block;
  margin:auto;
  width: 10%;
  height: 10%;
  padding-top: 20px;
  margin-bottom: -30px; 
}

@mixin tabs ($background: blue, $color: yellow, $hover: black) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
    border:none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 9px;
    background: $background;
    color: $color;
    &:hover {
      background: lighten($hover, 20%);
    }
  }
}

nav {
  @include tabs ($background: $white, $color: $black, $hover: black);
  font-weight: bold;
}

p {
  font: 16px/1 $main-font;
}

label {
  display: block;
}

nav a.current {
  background: lighten($black, 50%);
}
   
.error {
  color: $white;
  background-color: $red;
}

.centered {
  text-align: center;
}

/* ESTILO DE LA SALIDA DE LOS DATOS */

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

div.unhidden {
  overflow: auto;
  width: 95%;
}

table.ini {
  border-collapse: separate;
  margin: 0 auto 0 auto;
  &.ini {
    th {
      font-family: pakenham;
      font-size: 20px;
      text-align: center;
      color: white;
      border: 0px;
      border-radius: 7px 7px 7px 7px;
      background-color: black;
      padding: 2px 0px 6px 15px;
      margin-top: 40px;
      margin-bottom: 23px;
    }
    td {
      font-family: $txtarea-font;
      color: $black;
      vertical-align: top;
      text-align: left;
      font-family: arial;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      line-height: 20px;
      background-color: #ffffff;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      border: 2px solid #333029;
    }
  }
}

/* ESTILO DE LAS LISTAS QUE CONTIENE EL ÁRBOL SINTÁCTICO */

ol {
  margin-top: -35px;
  color: $black;
  li {
    font-family: $txtarea-font;
    vertical-align: middle;
    text-align: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    &:hover {
      opacity: 0.6;
      position: relative;
      right: 10px;
      transition: ease-in all 300ms;
      -moz-transition: ease-in all 300ms;
      -webkit-transition: ease-in all 300ms;
    }
  }
}

li.list {
  &:nth-child(odd) {
    background-color: #E7FC92;
  }
  &:nth-child(even) {
    background-color: #92F2FC;
  }
}

/* ESTILO DE LA TABLA loadfile */

table.loadfile {
  border-collapse: separate;
  border-spacing: 35px 15px;
  background-color: #FAAC58;
  width: $width;
  border-radius: 7px;
  td.file {
    border-radius: 7px;
    background-color: white;
  }
}

/* ESTILO DE LOS FICHEROS */

ul.file {
  list-style: none;
  padding: 5;
}

.example {
  width: 100px;
  background-color: black;
  color: white;
}

/* ESTILO DEL TEXTAREA */

#original {                /* http://www.css3maker.com/index.html */
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #FFFFFF;
  padding: 15px 0px 24px 21px;
  border: none;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 10px 10px 5px #3e332f;
  -webkit-box-shadow: 10px 10px 5px #3e332f;
  box-shadow: 10px 10px 5px #3e332f;
}

/* QUITAR EL RECUADRO CUANDO TIENE EL FOCUS */

:focus {
  outline: 0px;
}

/* ESTILO DEL BOTÓN */

.mylink {
  -moz-box-shadow: inset 0px 0px 15px 3px $black;
  -webkit-box-shadow: inset 0px 0px 15px 3px $black;
  box-shadow: inset 0px 0px 15px 3px $black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, black), color-stop(1, #415989));
  background: -moz-linear-gradient(top, black 5%, #415989 100%);
  background: -webkit-linear-gradient(top, black 5%, #415989 100%);
  background: -o-linear-gradient(top, black 5%, #415989 100%);
  background: -ms-linear-gradient(top, black 5%, #415989 100%);
  background: linear-gradient(to bottom, black 5%, #415989 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='black', endColorstr='#415989',GradientType=0);
  background-color: black;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  padding: 6px 13px;
  width: 630px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  &:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, black));
    background: -moz-linear-gradient(top, #415989 5%, black 100%);
    background: -webkit-linear-gradient(top, #415989 5%, black 100%);
    background: -o-linear-gradient(top, #415989 5%, black 100%);
    background: -ms-linear-gradient(top, #415989 5%, black 100%);
    background: linear-gradient(to bottom, #415989 5%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='black',GradientType=0);
    background-color: #415989;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
